.flow.json.backup
[
    {
        "id": "ceb9a64e143c516d",
        "type": "tab",
        "label": "DISPLAY FORMAT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6716eebc96aa56aa",
        "type": "tab",
        "label": "CONTROL",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dccb79d78124d409",
        "type": "tab",
        "label": "UART",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "35aed2f02f81b42e",
        "type": "tab",
        "label": "INDICATORS",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "89b6ba2f74217615",
        "type": "tab",
        "label": "SETTINGS",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "34638530e980fb98",
        "type": "tab",
        "label": "STORAGE",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "462808f26d12cada",
        "type": "serial-port",
        "name": "GC10",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "\\n\\r",
        "responsetimeout": "2500"
    },
    {
        "id": "7605bf83619c8d04",
        "type": "ui_tab",
        "name": "DATA",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a7d9bc960ec780c0",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "dd3325a5da46decb",
        "type": "ui_group",
        "name": "CONTROLS",
        "tab": "7605bf83619c8d04",
        "order": 1,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1722fb642b1a6c47",
        "type": "ui_group",
        "name": "INDICATORS",
        "tab": "7605bf83619c8d04",
        "order": 2,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ae901b2032870e2a",
        "type": "ui_group",
        "name": "CPM",
        "tab": "7605bf83619c8d04",
        "order": 3,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "132b5091727a7ca3",
        "type": "ui_group",
        "name": "uSv / Hr",
        "tab": "7605bf83619c8d04",
        "order": 4,
        "disp": true,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b2df7e2f423aaee9",
        "type": "ui_group",
        "name": "SETTINGS",
        "tab": "7605bf83619c8d04",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0b79bdaf18a9d946",
        "type": "ui_spacer",
        "z": "89b6ba2f74217615",
        "name": "spacer",
        "group": "1722fb642b1a6c47",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "d5da9f95a7faaaf6",
        "type": "ui_spacer",
        "z": "89b6ba2f74217615",
        "name": "spacer",
        "group": "1722fb642b1a6c47",
        "order": 5,
        "width": 4,
        "height": 1
    },
    {
        "id": "a0abe8b318706bf3",
        "type": "ui_spacer",
        "z": "89b6ba2f74217615",
        "name": "spacer",
        "group": "1722fb642b1a6c47",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "4a6232fb91ef81cf",
        "type": "ui_group",
        "name": "STORAGE",
        "tab": "7605bf83619c8d04",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a8f07aa2fb9e02ef",
        "type": "ui_template",
        "z": "ceb9a64e143c516d",
        "group": "1722fb642b1a6c47",
        "name": "",
        "order": 9,
        "width": 0,
        "height": 0,
        "format": "<style>\n.masonry-container {\n    width: 1800px;\n}\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 120,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "24afcd1a81166d96",
        "type": "comment",
        "z": "6716eebc96aa56aa",
        "name": "UART COMMANDS (RPI Pico)",
        "info": "void SerCmdExec(void) {\n\tchar* ptr;\n\tchar buf[8];\n\n\tif (memcmp((char*)CmdBuf, \"stop\", 4) == 0) {\n\t\tsout = false;\n\t} else\n\tif (memcmp((char*)CmdBuf, \"go\", 2) == 0) {\n\t\tsout = true;\n\t} else\n\tif (memcmp((char*)CmdBuf, \"set \", 4) == 0) {\n\t\tptr = (char*)CmdBuf + 4;\n\t\tif (memcmp(ptr, \"gms=\", 4) == 0) {\n\t\t\tptr += 4;\n\t\t\tgamma_sensitivity = atoi(ptr);\n\t\t} else\n\t\tif (memcmp(ptr, \"atc=\", 4) == 0) {\n\t\t\tptr += 4;\n\t\t\talarm_trigger_cpm = atoi(ptr);\n\t\t} else\n\t\tif (memcmp(ptr, \"hvg=\", 4) == 0) {\n\t\t\tptr += 4;\n\t\t\thvg_pulsewidth = atoi(ptr);\n\t\t\tpwm_set_chan_level(hvgPwmSlice, PWM_CHAN_A, hvg_pulsewidth);\n\t\t} else\n\t\tif (memcmp(ptr, \"bps=\", 4) == 0) {\n\t\t\tuint32_t bps;\n\t\t\tptr += 4;\n\t\t\tbps = atol(ptr);\n\t\t\tuart_set_baudrate(uart1, bps);\n\t\t} else\n\t\tif (memcmp(ptr, \"cfg=\", 4) == 0) {\n\t\t\tptr += 4;\n\t\t\ttone = atoi(ptr);\n\t\t\tpwm_set_clkdiv(bzsPwmSlice, tone);\n\t\t} else\n\t\tif (memcmp(ptr, \"snd=\", 4) == 0) {\n\t\t\tptr += 4;\n\t\t\tif (memcmp(ptr, \"on\", 2) == 0) {\n\t\t\t\tis_sound_enabled = true;\n\t\t\t} else\n\t\t\tif (memcmp(ptr, \"off\", 3) == 0) {\n\t\t\t\tis_sound_enabled = false;\n\t\t\t}\n\t\t} else\n\t\tif (memcmp(ptr, \"dpd=\", 4) == 0) {\n\t\t\tptr += 4;\n\t\t\tif (memcmp(ptr, \"on\", 2) == 0) {\n\t\t\t\tssd1306_poweron(&disp);\n\t\t\t} else\n\t\t\tif (memcmp(ptr, \"off\", 3) == 0) {\n\t\t\t\tssd1306_poweroff(&disp);\n\t\t\t}\n\t\t}\n\t} else\n\tif (memcmp((char*)CmdBuf, \"save\", 4) == 0) {\n\t\teeprom_write_word(OFS_GMS, gamma_sensitivity);\n\t\teeprom_write_word(OFS_ALARM, alarm_trigger_cpm);\n\t\teeprom_write_word(OFS_PWM_WIDTH, hvg_pulsewidth);\n\t\teeprom_write_byte(OFS_SOUND, (is_sound_enabled == true)? 1 : 0);\n\t} else\n",
        "x": 150,
        "y": 80,
        "wires": []
    },
    {
        "id": "04881928c9790a10",
        "type": "inject",
        "z": "6716eebc96aa56aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CONTROL",
        "payload": "go",
        "payloadType": "str",
        "x": 190,
        "y": 360,
        "wires": [
            [
                "23e806a54ef60867"
            ]
        ]
    },
    {
        "id": "f486af1925f10ff5",
        "type": "inject",
        "z": "6716eebc96aa56aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CONTROL",
        "payload": "stop",
        "payloadType": "str",
        "x": 200,
        "y": 400,
        "wires": [
            [
                "3e31fea09d95ebc6"
            ]
        ]
    },
    {
        "id": "d74853dc82fced2a",
        "type": "inject",
        "z": "6716eebc96aa56aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "CONTROL",
        "payload": "show",
        "payloadType": "str",
        "x": 210,
        "y": 440,
        "wires": [
            [
                "4a6852d2f164f2ea"
            ]
        ]
    },
    {
        "id": "4f7743288b9849ed",
        "type": "link out",
        "z": "6716eebc96aa56aa",
        "name": "UART_CMD_INPUT",
        "mode": "link",
        "links": [
            "c84413c6cec11c5c"
        ],
        "x": 565,
        "y": 400,
        "wires": []
    },
    {
        "id": "23e806a54ef60867",
        "type": "ui_button",
        "z": "6716eebc96aa56aa",
        "name": "",
        "group": "dd3325a5da46decb",
        "order": 3,
        "width": 3,
        "height": 3,
        "passthru": true,
        "label": "GO",
        "tooltip": "",
        "color": "WHITE",
        "bgcolor": "GREEN",
        "className": "",
        "icon": "",
        "payload": "go",
        "payloadType": "str",
        "topic": "CMD",
        "topicType": "str",
        "x": 430,
        "y": 360,
        "wires": [
            [
                "4f7743288b9849ed"
            ]
        ]
    },
    {
        "id": "3e31fea09d95ebc6",
        "type": "ui_button",
        "z": "6716eebc96aa56aa",
        "name": "",
        "group": "dd3325a5da46decb",
        "order": 4,
        "width": 3,
        "height": "4",
        "passthru": true,
        "label": "STOP",
        "tooltip": "",
        "color": "WHITE",
        "bgcolor": "RED",
        "className": "",
        "icon": "",
        "payload": "stop",
        "payloadType": "str",
        "topic": "CMD",
        "topicType": "str",
        "x": 430,
        "y": 400,
        "wires": [
            [
                "4f7743288b9849ed"
            ]
        ]
    },
    {
        "id": "4a6852d2f164f2ea",
        "type": "ui_button",
        "z": "6716eebc96aa56aa",
        "name": "",
        "group": "dd3325a5da46decb",
        "order": 5,
        "width": 3,
        "height": 3,
        "passthru": true,
        "label": "SHOW",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "show",
        "payloadType": "str",
        "topic": "CMD",
        "topicType": "str",
        "x": 420,
        "y": 440,
        "wires": [
            [
                "4f7743288b9849ed"
            ]
        ]
    },
    {
        "id": "1252aa117a765922",
        "type": "comment",
        "z": "6716eebc96aa56aa",
        "name": "FW Ver. FWNX1R04",
        "info": "https://github.com/netio-devices/gc10next/tree/main\nhttps://github.com/netio-devices/gc10next\nhttps://netiodev.com/GC10/manuals/GC10next_Sch.pdf",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "4a1a64317cee3e85",
        "type": "ui_dropdown",
        "z": "6716eebc96aa56aa",
        "name": "",
        "label": "CHART:",
        "tooltip": "",
        "place": "",
        "group": "dd3325a5da46decb",
        "order": 1,
        "width": "3",
        "height": "1",
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "CPM",
                "value": "CPM",
                "type": "str"
            },
            {
                "label": "uSv",
                "value": "uSv",
                "type": "str"
            },
            {
                "label": "REM",
                "value": "REM",
                "type": "str"
            },
            {
                "label": "OTHER",
                "value": "OTHER",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "TYPE",
        "topicType": "str",
        "className": "",
        "x": 380,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "0ffd18a604c7cc40",
        "type": "inject",
        "z": "6716eebc96aa56aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "TYPE",
        "payload": "CPM",
        "payloadType": "str",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "4a1a64317cee3e85"
            ]
        ]
    },
    {
        "id": "e1d431326f78b947",
        "type": "inject",
        "z": "6716eebc96aa56aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "TYPE",
        "payload": "uSv",
        "payloadType": "str",
        "x": 180,
        "y": 200,
        "wires": [
            [
                "4a1a64317cee3e85"
            ]
        ]
    },
    {
        "id": "d2c35eef370dbe1e",
        "type": "inject",
        "z": "6716eebc96aa56aa",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "TYPE",
        "payload": "REM",
        "payloadType": "str",
        "x": 190,
        "y": 240,
        "wires": [
            [
                "4a1a64317cee3e85"
            ]
        ]
    },
    {
        "id": "ad04612a5fac150a",
        "type": "serial in",
        "z": "dccb79d78124d409",
        "name": "OUTPUT",
        "serial": "462808f26d12cada",
        "x": 340,
        "y": 180,
        "wires": [
            [
                "ea7f7b5db821975e"
            ]
        ]
    },
    {
        "id": "ea5a3be5d39320f3",
        "type": "serial out",
        "z": "dccb79d78124d409",
        "name": "INPUT",
        "serial": "462808f26d12cada",
        "x": 330,
        "y": 120,
        "wires": []
    },
    {
        "id": "43662d83803d5831",
        "type": "debug",
        "z": "dccb79d78124d409",
        "name": "OUTPUT",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 180,
        "wires": []
    },
    {
        "id": "fb12cd3514570e64",
        "type": "serial control",
        "z": "dccb79d78124d409",
        "name": "",
        "serial": "462808f26d12cada",
        "x": 530,
        "y": 480,
        "wires": [
            [
                "aa408e5d6bf4be8f"
            ]
        ]
    },
    {
        "id": "8400cf4601cd88b9",
        "type": "inject",
        "z": "dccb79d78124d409",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 480,
        "wires": [
            [
                "133996020a2c9f35"
            ]
        ]
    },
    {
        "id": "133996020a2c9f35",
        "type": "function",
        "z": "dccb79d78124d409",
        "name": "SETTINGS",
        "func": "let DEVICE = msg.payload || \"/dev/ttyACM0\"; \n\nmsg.payload = {\n    \"serialport\": DEVICE,\n    \"serialbaud\": 9600,\n    \"databits\": 8,\n    \"parity\": \"none\",\n    \"stopbits\": 1,\n    \"enabled\": true\n}\n    \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 480,
        "wires": [
            [
                "fb12cd3514570e64"
            ]
        ]
    },
    {
        "id": "aa408e5d6bf4be8f",
        "type": "debug",
        "z": "dccb79d78124d409",
        "name": "SETTINGS",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 480,
        "wires": []
    },
    {
        "id": "c84413c6cec11c5c",
        "type": "link in",
        "z": "dccb79d78124d409",
        "name": "UART_INPUT",
        "links": [
            "4f7743288b9849ed"
        ],
        "x": 175,
        "y": 120,
        "wires": [
            [
                "ea5a3be5d39320f3"
            ]
        ]
    },
    {
        "id": "ca3c91162a17b585",
        "type": "link out",
        "z": "dccb79d78124d409",
        "name": "UART_OUT",
        "mode": "link",
        "links": [
            "ca38671e3b7bed60",
            "9eef7fdb2544c35c"
        ],
        "x": 665,
        "y": 240,
        "wires": []
    },
    {
        "id": "ea7f7b5db821975e",
        "type": "function",
        "z": "dccb79d78124d409",
        "name": "CLEAN",
        "func": "msg.payload = msg.payload.slice(0, -2);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 180,
        "wires": [
            [
                "43662d83803d5831",
                "ca3c91162a17b585"
            ]
        ]
    },
    {
        "id": "c7be08ccd69cc305",
        "type": "ui_text_input",
        "z": "dccb79d78124d409",
        "name": "",
        "label": "DEVICE",
        "tooltip": "",
        "group": "dd3325a5da46decb",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "DEVICE",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "133996020a2c9f35"
            ]
        ]
    },
    {
        "id": "f98a1016b1774e49",
        "type": "inject",
        "z": "dccb79d78124d409",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "DEVICE",
        "payload": "/dev/ttyACM0",
        "payloadType": "str",
        "x": 200,
        "y": 360,
        "wires": [
            [
                "c7be08ccd69cc305"
            ]
        ]
    },
    {
        "id": "9eef7fdb2544c35c",
        "type": "link in",
        "z": "35aed2f02f81b42e",
        "name": "UART_OUT",
        "links": [
            "ca3c91162a17b585"
        ],
        "x": 175,
        "y": 420,
        "wires": [
            [
                "ae0786ea94d3f50e",
                "e64d92cc75ae2f4f"
            ]
        ]
    },
    {
        "id": "ae0786ea94d3f50e",
        "type": "function",
        "z": "35aed2f02f81b42e",
        "name": "INDICATORS",
        "func": "let VALUE = Number(msg.payload.replace(/\\D/g,''));\nlet TOGGLE = false\n\nswitch (true){\n    \n    case (/ttc/g.test(msg.payload)):\n        context.TTC = VALUE;\n        TOGGLE = true;\n        break;\n\n    case (/gms/g.test(msg.payload)):\n        context.GMS = VALUE;\n        TOGGLE = true;\n        break;\n\n    case (/atc/g.test(msg.payload)):\n        context.ATC = VALUE;\n        TOGGLE = true;\n        break;\n\n    case (/hvg/g.test(msg.payload)):\n        context.HVG = VALUE;\n        TOGGLE = true;\n        break;\n\n    default:\n        context.CPM = VALUE || context.CPM;\n        context.uSv = ((context.CPM / 544)).toFixed(4) || context.uSv;\n}\n\nif (TOGGLE == false){\n    msg = [\n    \n        {payload: context.CPM, topic: \"CPM\"},\n        {payload: context.uSv, topic: \"uSv\"},\n        \n        {payload: context.TTC, topic: \"TTC\"},\n        {payload: context.GMS, topic: \"GMS\"},\n        {payload: context.ATC, topic: \"ATC\"},\n        {payload: context.HVG, topic: \"HVG\"},\n        \n    ];\n}\nelse{\n    msg = [\n    \n        {payload: undefined, topic: \"CPM\"},\n        {payload: undefined, topic: \"uSv\"},\n        \n        {payload: context.TTC, topic: \"TTC\"},\n        {payload: context.GMS, topic: \"GMS\"},\n        {payload: context.ATC, topic: \"ATC\"},\n        {payload: context.HVG, topic: \"HVG\"},\n        \n    ];\n}\nreturn msg;",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 380,
        "wires": [
            [
                "1b2db19bb96aaf1a",
                "14af8418d290db00"
            ],
            [
                "a7184f6abced1042"
            ],
            [
                "3a0f8c6411294b7f"
            ],
            [
                "465b074a654ca7b9"
            ],
            [
                "b4c49d735433dd85"
            ],
            [
                "03e96e2333bc46e5"
            ]
        ]
    },
    {
        "id": "17475f753fd157e0",
        "type": "ui_button",
        "z": "35aed2f02f81b42e",
        "name": "",
        "group": "1722fb642b1a6c47",
        "order": 10,
        "width": 20,
        "height": 1,
        "passthru": true,
        "label": "* CLEAR *",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "[ ]",
        "payloadType": "json",
        "topic": "CLEAR",
        "topicType": "str",
        "x": 350,
        "y": 280,
        "wires": [
            [
                "1b2db19bb96aaf1a",
                "3a0f8c6411294b7f",
                "465b074a654ca7b9",
                "b4c49d735433dd85",
                "03e96e2333bc46e5",
                "14af8418d290db00",
                "a7184f6abced1042"
            ]
        ]
    },
    {
        "id": "1b2db19bb96aaf1a",
        "type": "ui_chart",
        "z": "35aed2f02f81b42e",
        "name": "CPM",
        "group": "1722fb642b1a6c47",
        "order": 1,
        "width": 20,
        "height": 10,
        "label": "CPM",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "3600",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 180,
        "wires": [
            [
                "484677cc8d9b4cb2",
                "3fda2b903cba6a08",
                "279db7ee828cac34"
            ]
        ]
    },
    {
        "id": "e64d92cc75ae2f4f",
        "type": "debug",
        "z": "35aed2f02f81b42e",
        "name": "UART Payload",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 480,
        "wires": []
    },
    {
        "id": "3a0f8c6411294b7f",
        "type": "ui_text",
        "z": "35aed2f02f81b42e",
        "group": "1722fb642b1a6c47",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "TTC",
        "label": "TTC",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 550,
        "y": 320,
        "wires": []
    },
    {
        "id": "465b074a654ca7b9",
        "type": "ui_text",
        "z": "35aed2f02f81b42e",
        "group": "1722fb642b1a6c47",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "GMS",
        "label": "GMS",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 550,
        "y": 360,
        "wires": []
    },
    {
        "id": "b4c49d735433dd85",
        "type": "ui_text",
        "z": "35aed2f02f81b42e",
        "group": "1722fb642b1a6c47",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "ATC",
        "label": "ATC",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 550,
        "y": 400,
        "wires": []
    },
    {
        "id": "03e96e2333bc46e5",
        "type": "ui_text",
        "z": "35aed2f02f81b42e",
        "group": "1722fb642b1a6c47",
        "order": 8,
        "width": 3,
        "height": 1,
        "name": "HVG",
        "label": "HVG",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 550,
        "y": 440,
        "wires": []
    },
    {
        "id": "6d82f62142aac75f",
        "type": "inject",
        "z": "35aed2f02f81b42e",
        "name": "* CLEAR *",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "17475f753fd157e0"
            ]
        ]
    },
    {
        "id": "484677cc8d9b4cb2",
        "type": "debug",
        "z": "35aed2f02f81b42e",
        "name": "CPM",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload[0].data[0].slice(-1)[0].y",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "3fda2b903cba6a08",
        "type": "function",
        "z": "35aed2f02f81b42e",
        "name": "CHART CPM EXTRACTOR",
        "func": "//\"CHART\" PAYLOAD FORMAT\n//msg.payload[0].data[0] <----- Array\n//msg.payload[0].data[0][0] <-- Object\n//msg.payload[0].data[0][999]\n\n//Extract single \"y\" values\n//msg.payload = msg.payload[0].data[0].slice(-1)[0].y\n\n// Extract all \"y\" array values\nlet DATA = msg.payload[0].data[0]\n\nlet ARRAY = DATA.map(extract => extract.y).flat()\n\nlet MAX = Math.max(...ARRAY);\nlet MIN = Math.min(...ARRAY);\nlet AVG = Number ( ((MAX + MIN) / 2).toFixed(4) );\n\nmsg = [\n    {\"payload\": MAX, \"topic\": \"MAX\"},\n    {\"payload\": MIN, \"topic\": \"MIN\"},\n    {\"payload\": AVG, \"topic\": \"AVG\"},\n];\n\nreturn msg",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 100,
        "wires": [
            [
                "fe6fff054bbf48e6"
            ],
            [
                "34f035d27f94e53f"
            ],
            [
                "b15c1061cad3193f"
            ]
        ]
    },
    {
        "id": "279db7ee828cac34",
        "type": "function",
        "z": "35aed2f02f81b42e",
        "name": "CHART uSv EXTRACTOR",
        "func": "//\"CHART\" PAYLOAD FORMAT\n//msg.payload[0].data[0] <----- Array\n//msg.payload[0].data[0][0] <-- Object\n//msg.payload[0].data[0][999]\n\n//Extract single \"y\" values\n//msg.payload = msg.payload[0].data[0].slice(-1)[0].y\n\n// Extract all \"y\" array values\nlet DATA = msg.payload[0].data[0]\n\nlet ARRAY = DATA.map(extract => extract.y).flat()\n\nlet MAX = Number( ((Math.max(...ARRAY)/ 544)).toFixed(4) );\nlet MIN = Number( ((Math.min(...ARRAY)/ 544)).toFixed(4) );\nlet AVG = Number( ((MAX + MIN) / 2).toFixed(4) );\n\nmsg = [\n    {\"payload\": MAX, \"topic\": \"MAX\"},\n    {\"payload\": MIN, \"topic\": \"MIN\"},\n    {\"payload\": AVG, \"topic\": \"AVG\"},\n];\n\nreturn msg",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 260,
        "wires": [
            [
                "90f7b7d46924d209"
            ],
            [
                "0be02b76a99953e1"
            ],
            [
                "c69eca877ba08590"
            ]
        ]
    },
    {
        "id": "fe6fff054bbf48e6",
        "type": "ui_text",
        "z": "35aed2f02f81b42e",
        "group": "ae901b2032870e2a",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "CPM MAX",
        "label": "MAX",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1030,
        "y": 60,
        "wires": []
    },
    {
        "id": "14af8418d290db00",
        "type": "ui_button",
        "z": "35aed2f02f81b42e",
        "name": "CPM",
        "group": "ae901b2032870e2a",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "{{msg.payload}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "a7184f6abced1042",
        "type": "ui_button",
        "z": "35aed2f02f81b42e",
        "name": "uSv",
        "group": "132b5091727a7ca3",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "{{msg.payload}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "34f035d27f94e53f",
        "type": "ui_text",
        "z": "35aed2f02f81b42e",
        "group": "ae901b2032870e2a",
        "order": 3,
        "width": 3,
        "height": 1,
        "name": "CPM MIN",
        "label": "MIN",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1020,
        "y": 100,
        "wires": []
    },
    {
        "id": "b15c1061cad3193f",
        "type": "ui_text",
        "z": "35aed2f02f81b42e",
        "group": "ae901b2032870e2a",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "CPM AVG",
        "label": "AVG",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1020,
        "y": 140,
        "wires": []
    },
    {
        "id": "90f7b7d46924d209",
        "type": "ui_text",
        "z": "35aed2f02f81b42e",
        "group": "132b5091727a7ca3",
        "order": 2,
        "width": 3,
        "height": 1,
        "name": "uSv MAX",
        "label": "MAX",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1020,
        "y": 220,
        "wires": []
    },
    {
        "id": "0be02b76a99953e1",
        "type": "ui_text",
        "z": "35aed2f02f81b42e",
        "group": "132b5091727a7ca3",
        "order": 3,
        "width": 3,
        "height": 1,
        "name": "uSv MIN",
        "label": "MIN",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1020,
        "y": 260,
        "wires": []
    },
    {
        "id": "c69eca877ba08590",
        "type": "ui_text",
        "z": "35aed2f02f81b42e",
        "group": "132b5091727a7ca3",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "uSv AVG",
        "label": "AVG",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1020,
        "y": 300,
        "wires": []
    },
    {
        "id": "d4f4473302773775",
        "type": "ui_text_input",
        "z": "89b6ba2f74217615",
        "name": "",
        "label": "GMS",
        "tooltip": "",
        "group": "b2df7e2f423aaee9",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "GMS",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 390,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "5179757bff897640",
        "type": "ui_text_input",
        "z": "89b6ba2f74217615",
        "name": "",
        "label": "HVG",
        "tooltip": "",
        "group": "b2df7e2f423aaee9",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "0",
        "topic": "HVG",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 390,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "197b72f9064c3705",
        "type": "ui_switch",
        "z": "89b6ba2f74217615",
        "name": "",
        "label": "SND",
        "tooltip": "",
        "group": "b2df7e2f423aaee9",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "SND",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 390,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "c0876633d3c55159",
        "type": "ui_switch",
        "z": "89b6ba2f74217615",
        "name": "",
        "label": "DPD",
        "tooltip": "",
        "group": "b2df7e2f423aaee9",
        "order": 4,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "DPD",
        "topicType": "str",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 390,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "f975a7fbb5873f4d",
        "type": "ui_button",
        "z": "89b6ba2f74217615",
        "name": "",
        "group": "b2df7e2f423aaee9",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "SAVE",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "save",
        "payloadType": "str",
        "topic": "SAVE",
        "topicType": "str",
        "x": 390,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "2d22fd5a1d1c5e28",
        "type": "ui_button",
        "z": "89b6ba2f74217615",
        "name": "",
        "group": "b2df7e2f423aaee9",
        "order": 8,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "REBOOT",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "reboot",
        "payloadType": "str",
        "topic": "REBOOT",
        "topicType": "str",
        "x": 400,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "f3d4ba67f48b17bf",
        "type": "ui_button",
        "z": "89b6ba2f74217615",
        "name": "",
        "group": "b2df7e2f423aaee9",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "VER",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "ver",
        "payloadType": "str",
        "topic": "VER",
        "topicType": "str",
        "x": 390,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "0ff406b7bad49895",
        "type": "ui_button",
        "z": "89b6ba2f74217615",
        "name": "",
        "group": "b2df7e2f423aaee9",
        "order": 7,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "DFU",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "dfu",
        "payloadType": "str",
        "topic": "DFU",
        "topicType": "str",
        "x": 390,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "f13583102b7ddee5",
        "type": "ui_text_input",
        "z": "34638530e980fb98",
        "name": "",
        "label": "FILENAME",
        "tooltip": "",
        "group": "4a6232fb91ef81cf",
        "order": 1,
        "width": "6",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": "0",
        "topic": "FILENAME",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 330,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "7f0476702c38cdc8",
        "type": "ui_button",
        "z": "34638530e980fb98",
        "name": "",
        "group": "4a6232fb91ef81cf",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "RECORD",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "RECORD",
        "topicType": "str",
        "x": 320,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "0c0f7ec052cf68f7",
        "type": "ui_button",
        "z": "34638530e980fb98",
        "name": "",
        "group": "4a6232fb91ef81cf",
        "order": 4,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "STOP",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "STOP",
        "topicType": "str",
        "x": 310,
        "y": 200,
        "wires": [
            []
        ]
    }
]